.view-content{
    display: flex;
    flex-direction: row;
    justify-content: start;
    .img{
        width: 300px;
        height: 200px;
    }
    .content{
        margin-left: 20px;
        display: flex;
        justify-content: start;
        align-items: flex-start;
        flex-direction: column;

        .title{
            font-size: 24px;
            font-weight: bold;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2; /* number of lines to show */
            -webkit-box-orient: vertical;
            font-family: Luxstay;
        }

        .price{
            font-weight: bold;
            font-style: italic;
            font-size: 14px;
        }

        .count-money{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
        }
        
        .address{
            font-size: 15px;
        }

    }
}
