.room{
    margin-right: 30px;
    width: 50px;
    height: 50px;
}

.icon-search{
    width: 28px;
    height: 21px;
}
.form-control{
    border: 0px !important;
    background: #b3a9a947;
    border-radius: 100px;
    min-width: 300px;
}
.button-search{
    background-color:#b3a9a947 ;
    opacity: 0.8;
    padding: 5px 10px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-date{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid #abaaaf;
    padding: 0px 5px;
}
.button-person{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;;
    font-size: 13px;
}
.icon-date{
    width: 15px;
    width: 15px;
    margin-right: 5px;
}
.header{
    position: fixed;
    background: white;
    z-index: 100000;
    width: 100%;
    top : 0
}